body {
    text-align: center;
    font-family: sans-serif;
    align-content: center;
}
#box {
    display: flex;
    flex-direction: column;
    background-color: red;
    color: white;
    border-radius: 10%;
    width: 400px;
    position: relative;
    left: 750px;
    margin: 100px;
    box-shadow: 0px 10px 5px 0px gray;
}
#big {
    font-weight: bolder;
    font-size: 5rem;
    text-transform: capitalize;
}
#small {
    font-size: 2rem;
}
#current {
    font-family: cursive;
    font-size: larger;
    color: black;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}
#pink {
    background-color: pink;
}
#lightGreen {
    background-color: lightgreen;
}
#lightBlue {
    background-color: lightblue;
}
.top {
    position: relative;
    top: 40px;
}
.ch {
    font-weight: bolder;
    font-size: larger;
    text-shadow: 1px 1px gray;
}